/* ../../AppData/Local/Temp/tmp-11964-wBAOqZhOo4po/18d07cb0fbf2/navBar.module.css */
.navBar-module__topBarHeaderItem___v29bR_stats {
  -webkit-app-region: no-drag;
  display: inline-block;
  pointer-events: auto;
}
.navBar-module__topBarHeaderItemLink___VeyBY_stats {
  margin: 0 8px 0 0;
}
.navBar-module__topBarActive___-qYPu_stats {
  background-color: var(--spice-tab-active);
  border-radius: 4px;
}
.navBar-module__topBarHeaderItemLink___VeyBY_stats {
  border-radius: 4px;
  color: var(--spice-text);
  display: inline-block;
  margin: 0 8px;
  padding: 8px 16px;
  position: relative;
  text-decoration: none !important;
  cursor: pointer;
}
.navBar-module__topBarNav___1OtdR_stats {
  -webkit-app-region: drag;
  pointer-events: none;
  width: 100%;
}
.navBar-module__topBarHeaderItem___v29bR_stats .navBar-module__optionsMenuDropBox___tD9mA_stats {
  color: var(--spice-text);
  border: 0;
  max-width: 150px;
  height: 42px;
  padding: 0 30px 0 12px;
  background-color: initial;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.navBar-module__topBarHeaderItem___v29bR_stats .navBar-module__optionsMenuDropBox___tD9mA_stats svg {
  position: absolute;
  margin-left: 8px;
}
div.navBar-module__topBarHeaderItemLink___VeyBY_stats {
  padding: 0;
}

/* ../../AppData/Local/Temp/tmp-11964-wBAOqZhOo4po/18d07cb0e650/app.css */
.stats-grid {
  --grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) !important;
}
.stats-specialGrid {
  grid-template-columns: repeat(11, 180px) !important;
}
.stats-gridInline {
  --grid-gap: 24px;
  grid-template-columns: repeat(10, 180px) !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-top: 5px;
}
[data-scroll=both] {
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
[data-scroll=end] {
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%);
  mask-image: linear-gradient(to right, transparent, black 10%);
}
[data-scroll=start] {
  -webkit-mask-image: linear-gradient(to right, black 90%, transparent);
  mask-image: linear-gradient(to right, black 90%, transparent);
}
.stats-loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
  gap: 16px;
}
.stats-libraryOverview {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 16px;
}
.stats-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.stats-trackPageTitle {
  display: flex;
  gap: 24px;
  align-items: center;
}
.stats-scrollButton {
  width: 40px;
  border-radius: 8px;
  border: none;
  padding: 0;
  margin-right: 5px;
  background-color: var(--spice-player);
  color: var(--spice-subtext);
}
.stats-scrollButton:hover {
  background-color: var(--spice-card);
}
.stats-header {
  align-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.stats-header-right,
.stats-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 50%;
}
.stats-header-right {
  justify-content: flex-end;
}
.stats-header-left {
  justify-content: flex-start;
}
.stats-tracklistHeader > div {
  display: flex;
  -webkit-app-region: no-drag;
  gap: 20px;
  align-items: center;
}
.stats-make-playlist-button {
  margin-inline-start: 12px;
}
.stats-genreCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  background: var(--spice-player);
  position: relative;
}
.stats-genreRow {
  width: 100%;
  height: 20px;
  display: flex;
  gap: 10px;
}
.stats-genreRowFill {
  background: var(--spice-button);
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.stats-genreText {
  color: var(--spice-player);
  font-size: 0.875rem;
  margin-left: 7px;
  font-weight: bold;
}
.stats-genreValue {
  color: var(--spice-text);
  font-size: 0.875rem;
}
.new-update {
  background-color: var(--spice-player);
  color: var(--spice-text);
  border-radius: 8px;
  padding: 2px 12px;
  margin: 0 24px;
  border: 0px;
}
.GenericModal[aria-label="Playlist Stats"] .main-embedWidgetGenerator-container {
  width: 80vw;
  height: 80vh;
  background-color: var(--spice-main);
}
.GenericModal[aria-label="Playlist Stats"] .main-shelf-title {
  color: var(--spice-text);
}
.status-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

/* ../../AppData/Local/Temp/tmp-11964-wBAOqZhOo4po/18d07cb0f9d1/settings_modal.css */
#stats-config-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#stats-config-container .section-header {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--spice-text);
}
#stats-config-container .col.description {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--spice-subtext);
}
#stats-config-container .disabled {
  opacity: 0;
  pointer-events: none;
}
#stats-config-container .text-input {
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--spice-text);
  font-family: inherit;
  font-size: 14px;
  height: 32px;
  padding: 0 12px;
  width: 100%;
}
#stats-config-container .text-input:focus {
  background-color: var(--spice-tab-active);
  border: 1px solid var(--spice-button-disabled);
  outline: none;
}
#stats-config-container .dropdown-input {
  background-color: var(--spice-tab-active);
  border: 0;
  border-radius: 4px;
  color: rgba(var(--spice-rgb-selected-row), 0.7);
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  letter-spacing: 0.24px;
  line-height: 20px;
  padding: 0 32px 0 12px;
  width: 100%;
}
#stats-config-container .tooltip-icon {
  float: right;
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 22px;
  fill: var(--spice-subtext);
}
#stats-config-container .tooltip-icon:hover {
  fill: var(--spice-text);
}
#stats-config-container .tooltip {
  text-align: center;
}
#stats-config-container .setting-row {
  display: flex;
  justify-content: space-between;
}
