* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 0px;
}

window#waybar {
    background: rgba(17, 17, 27, .10);
}

tooltip {
    background: #1e1e2e;
    color: #cdd6f4;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    color: #cdd6f4;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: #a6adc8;
    color: #313244;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: #f5c2e7;
    color: #313244;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#cpu,
#memory,
#clock,
#workspaces,
#window,
#network,
#bluetooth,
#pulseaudio,
#custom-updates,
#custom-wallchange,
#custom-mode,
#custom-cliphist,
#custom-power,
#custom-wbar,
#custom-l_end,
#custom-r_end,
#tray {
    color: #cdd6f4;
    background: #11111b;
    opacity: 1;
    padding: 0px;
    margin: 3px 0px 3px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces {
    border-radius: 10px 0px 0px 10px;
    padding-left: 12px;
    padding-right: 0px;
}

#window {
    border-radius: 0px 10px 10px 0px;
    padding-left: 0px;
    padding-right: 12px;
}

#custom-r_end {
    border-radius: 0px 10px 10px 0px;
    margin-right: 6px;
    padding-right: 0px;
}

#custom-l_end {
    border-radius: 10px 0px 0px 10px;
    margin-left: 6px;
    padding-left: 0px;
}

