* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 0px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

tooltip {
    background: #cbced3;
    color: #1f2328;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #90ceaa;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    color: #93cee9;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: #90ceaa;
    color: #1f2328;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: #90ceaa;
    color: #1f2328;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#cpu,
#memory,
#clock,
#workspaces,
#window,
#network,
#bluetooth,
#pulseaudio,
#custom-updates,
#custom-wallchange,
#custom-mode,
#custom-cliphist,
#custom-power,
#tray {
    color: #93cee9;
    background: #1f2328;
    opacity: 1;
    padding: 0px;
    margin: 3px 0px 3px 0px;
}


/* resource monitor block */

#cpu {
    border-radius: 10px 0px 0px 10px;
    margin-left: 25px;
    padding-left: 12px;
    padding-right: 4px;
}

#memory {
    border-radius: 0px 10px 10px 0px;
    border-left-width: 0px;
    padding-left: 4px;
    padding-right: 12px;
    margin-right: 6px;
}


/* date time block */

#clock {
    border-radius: 10px;
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 6px;
}


/* workspace window block */

#workspaces {
    border-radius: 10px 0px 0px 10px;
    padding-left: 12px;
}

#window {
    border-radius: 0px 10px 10px 0px;
    padding-right: 12px;
}


/* control center block */

#network {
    border-radius: 10px 0px 0px 10px;
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 4px;
}

#bluetooth {
    padding-left: 4px;
    padding-right: 4px;
}

#pulseaudio {
    padding-left: 4px;
    padding-right: 4px;
} 

#pulseaudio.microphone {
    padding-left: 4px;
    padding-right: 4px;
}

#custom-updates {
    border-radius: 0px 10px 10px 0px;
    padding-left: 4px;
    padding-right: 12px;
    margin-right: 6px;
}


/* system tray block */

#tray {
    border-radius: 10px;
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 6px;
}


/* custom block */

#custom-wallchange {
    border-radius: 10px 0px 0px 10px;
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 4px;
}

#custom-mode {
    padding-left: 4px;
    padding-right: 4px;
}

#custom-cliphist {
    padding-left: 4px;
    padding-right: 4px;
}

#custom-power {
    border-radius: 0px 10px 10px 0px;
    padding-left: 4px;
    padding-right: 12px;
    margin-right: 25px;
}
