@define-color bar-bg #1F2326;

@define-color main-bg #ECEFF4;
@define-color main-fg #1E4C84;

@define-color wb-act-bg #93CEE9;
@define-color wb-act-fg #1F2328;

@define-color wb-hvr-bg #93CEE9;
@define-color wb-hvr-fg #1F2328;
