@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #476A84;
@define-color main-fg #D9D9D9;

@define-color wb-act-bg #5A7D99;
@define-color wb-act-fg #EFEFF5;

@define-color wb-hvr-bg #7287FD;
@define-color wb-hvr-fg #EFEFF5;
