@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #262335;
@define-color main-fg #ff7edb;

@define-color wb-act-bg #03edf9;
@define-color wb-act-fg #463465;

@define-color wb-hvr-bg #72f1b8;
@define-color wb-hvr-fg #495495;
