* {
    main-bg:            #000000e6;
    main-fg:            #ffffffff;
    main-br:            #ffa6c2ff;
    main-ex:            #f5e0dcff;
    select-bg:          #fada16ff;
    select-fg:          #000000ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
