* {
    main-bg:            #151720e6;
    main-fg:            #cbced3ff;
    main-br:            #98d3eecc;
    main-ex:            #95d3afcc;
    select-bg:          #90ceaaff;
    select-fg:          #151720ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
