* {
    main-bg:            #262335e6;
    main-fg:            #ff7edbff;
    main-br:            #f97e72ff;
    main-ex:            #72f1b8ff;
    select-bg:          #03edf9ff;
    select-fg:          #495495ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
