* {
    main-bg:            #111115E6;
    main-fg:            #9A9A95;
    main-br:            #5B5B55;
    main-ex:            #43433C;
    select-bg:          #9A9A95;
    select-fg:          #111115;
}
