* {
    main-bg:            #0D1935E6;
    main-fg:            #6F3A65;
    main-br:            #553054;
    main-ex:            #242749;
    select-bg:          #6F3A65;
    select-fg:          #0D1935;
}
