* {
    main-bg:            #faf4ede6;
    main-fg:            #b4637aff;
    main-br:            #9893a5ff;
    main-ex:            #ea9d34cc;
    select-bg:          #d7827eff;
    select-fg:          #fffaf3ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
