* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: initial;
    min-height: 10px;
}

@import "themes/${cur_theme}.css";

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @tool-bg;
    color: @tool-color;
    border-radius: ${b_radius}px;
    border-width: 1px;
    border-style: solid;
    border-color: @tool-border;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: ${w_radius}px;
    margin-top: ${w_margin}px;
    margin-bottom: ${w_margin}px;
    padding-left: ${w_paddin}px;
    padding-right: ${w_paddin}px;
    color: @wb-color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: ${w_margin}px;
    padding-left: ${w_padact}px;
    padding-right: ${w_padact}px;
    margin-right: ${w_margin}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    padding-left: ${w_paddin}px;
    padding-right: ${w_paddin}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: ${w_radius}px;
    margin-top: ${w_margin}px;
    margin-bottom: ${w_margin}px;
    padding-left: ${w_paddin}px;
    padding-right: ${w_paddin}px;
    color: @wb-color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: ${w_margin}px;
    padding-left: ${w_padact}px;
    padding-right: ${w_padact}px;
    margin-right: ${w_margin}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    padding-left: ${w_paddin}px;
    padding-right: ${w_paddin}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#cpu,
#memory,
#battery,
#clock,
#workspaces,
#window,
#taskbar,
#network,
#bluetooth,
#pulseaudio,
#mpris,
#custom-updates,
#custom-wallchange,
#custom-mode,
#custom-cliphist,
#custom-power,
#custom-wbar,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#tray {
    color: @main-color;
    background: @main-bg;
    opacity: 1;
    margin: ${g_margin}px 0px ${g_margin}px 0px;
    padding-left: ${g_paddin}px;
    padding-right: ${g_paddin}px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px ${b_radius}px ${b_radius}px 0px;
    margin-right: ${e_margin}px;
    padding-right: ${e_paddin}px;
}

#custom-l_end {
    border-radius: ${b_radius}px 0px 0px ${b_radius}px;
    margin-left: ${e_margin}px;
    padding-left: ${e_paddin}px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: ${e_margin}px;
    padding-right: ${e_paddin}px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: ${e_margin}px;
    padding-left: ${e_paddin}px;
}
