* {
    background-image: none;
    font-size: ${fntSize}px;
}

@import "${wbarTheme}";

window {
    background-color: ${WindBg};
}

button {
    color: ${BtnCol};
    background-color: @main-${BtnBkg};
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @wb-act-bg;
    background-size: 20%;
}

button:hover {
    background-color: @wb-hvr-bg;
    background-size: 25%;
    border-radius: ${active_rad}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: ${active_rad}px ${active_rad}px 0px ${active_rad}px;
    margin : ${hvr}px 0px 0px ${hvr2}px;
}

button:hover#logout {
    border-radius: ${active_rad}px 0px ${active_rad}px ${active_rad}px;
    margin : 0px 0px ${hvr}px ${hvr2}px;
}

button:hover#shutdown {
    border-radius: ${active_rad}px ${active_rad}px ${active_rad}px 0px;
    margin : ${hvr}px ${hvr2}px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px ${active_rad}px ${active_rad}px ${active_rad}px;
    margin : 0px ${hvr2}px ${hvr}px 0px;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock_${csMode}.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: ${button_rad}px 0px 0px 0px;
    margin : ${mgn}px 0px 0px ${mgn2}px;
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout_${csMode}.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px ${button_rad}px;
    margin : 0px 0px ${mgn}px ${mgn2}px;
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown_${csMode}.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px ${button_rad}px 0px 0px;
    margin : ${mgn}px ${mgn2}px 0px 0px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot_${csMode}.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 0px ${button_rad}px 0px;
    margin : 0px ${mgn2}px ${mgn}px 0px;
}
