* {
	background-image: none;
	font-size: 40;
}

window {
	background-color: rgba(17, 17, 27, 0.85);
}

button {
  color: #b4befe;
	background-color: #281c2c;
	outline-style: none;
	border: none;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
	background-color: #bf9ede;
	background-size: 25%;
}

button:hover {
	background-color: #da838d;
	background-size: 25%;
	border-radius: 50px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
	margin-right : 30px;
	margin-bottom : 30px;
}

button:hover#logout {
	margin-right : 30px;
	margin-top : 30px;
}

button:hover#shutdown {
	margin-left : 30px;
	margin-bottom : 30px;
}

button:hover#reboot {
	margin-left : 30px;
	margin-top : 30px;
}

button:hover#suspend {
	margin-right : 30px;
	margin-top : 30px;
	margin-bottom : 30px;
}

button:hover#hibernate {
	margin-left : 30px;
	margin-top : 30px;
	margin-bottom : 30px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
	border-top-left-radius: 50px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
	border-bottom-left-radius: 50px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	border-top-right-radius: 50px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	border-bottom-right-radius: 50px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}



